html {
  overflow-y: scroll;
  --color-a: #000;
  --accent-active: #ccc;
  --accent-hover: #ddd;
  --accent: #f1f1f1;
  --tab-color: #f1f1f1;
  --main-color: #FFF;
  --border-color: #CCC;
  --midbar: #3b3f42;
  --invert: #000;
}

html.darkmode {
  --color-a: #e8e6e3;
  --accent-active: #27292b;
  --accent-hover: #222425;
  --accent: #1c1e1f;
  --tab-color: #f1f1f1;
  --main-color: #181a1b;
  --border-color: #5a5a5a;
  --midbar: #848484;
  --slider: #d7dcdf;
  --invert: #FFF;
}

.container {
  padding: 10px 0px;
  color: var(--color-a);
}

a,a:link,
a:visited,
a:hover,
a:active {
  color: var(--color-a);
  text-decoration: none;
}

hr.midbar {
  height: 2px;
  width: 95%;
  line-height: 2px;
  background-color: var(--midbar);
  border: 0 none;
}

input[type="range"] {
  margin: 0px;
}

label {
  color: var(--color-a);
  display: inline-block;
  padding-right: 10px;
}

input[type=checkbox] {
  position: relative;
  top: 2px;
}

input[type="text"], select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;	
  padding: 12px 20px;
  margin: 8px 0px;
  border-radius: 4px;
  border: 1px solid var(--accent);
  display: inline-block;
  box-sizing: border-box;
  border-color: var(--border-color);
  background-color: var(--accent);
  color: var(--color-a);
}

select:hover {
 background-color: var(--accent-hover);	
}

input[type=text]:focus {
  border: 1px solid var(--color-a);
  border-radius: 4px;
}

.addbutton {
  padding: 10px 20px;
  margin: 8px 4px;
  border-radius: 4px;
  background-color: var(--accent);
  border: 1px solid var(--border-color);
  color: var(--color-a);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.addbutton:hover {
  background-color: var(--accent-hover);
}

div.controlls {
  padding: 10px;
}

body {
  /* overflow-y: scroll; */
  font-family: Arial;
  overflow: hidden;
  background-color: var(--main-color);
}

.tabs {
  overflow: hidden;
  border: 1px solid var(--border-color);
  background-color: var(--accent);
  color: var(--color-a);
}

div.tabs:nth-of-type(even) {
  border-top: none;
}

.tabs button {
  color: var(--color-a);
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tabs button.back {
  float: right;
}

.tabs button:hover {
  background-color: var(--accent-hover);
}

.tabs button.active {
  background-color: var(--accent-active);
}

div.tabcontent {
  padding: 6px 12px;
  border: 1px solid var(--border-color);
  border-top: none;
  background-color: var(--main-color);
  overflow: hidden;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.listcontent {
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

div.controls a {
  padding: 2px;
}

div.trashcontrols a {
  padding: 2px;
}

div.trashcontrols a:hover {
  text-decoration: underline;
}

.custom-menu2 {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid var(--border-color);
  white-space: nowrap;
  font-family: sans-serif;
  background: var(--main-color);
  color: #333;
  border-radius: 5px;
  padding: 0;
}

.custom-menu2 li {
  color: var(--color-a);
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
  transition: all .3s ease;
  user-select: none;
}

.custom-menu2 li:hover {
  background-color: var(--accent-hover);
  color: var(--color-a);
}

.range-slider {
  margin: 2px 0 0 0%;
}

.range-slider {
  width: 200px;
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range-slider__value {
  position: relative;
  width: 60px;
  color: #FFF;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}

/* table preview */

table {
  background: var(--main-color_, #FFF);
  border-collapse: collapse;
  border: 1px solid var(--border_, #CCC);
}

th {
  border: 1px solid var(--border_, #CCC);
  background-color: var(--accent_, #DDD);
  border-top: none;
  font-weight: 400;
}

td {
  border: 1px solid var(--border_, #CCC);
}

th:hover {
  background-color: var(--accent-hover_, #CCC);
}

td ,
th {
  padding: 4px;
  overflow: hidden;
  text-align: left;
  vertical-align: middle;
}

a.txt{
color: var(--color-a_, #000);
}

a.lnk{
color: var(--color-b_, #000);  
}

.highlight {
	  background-color: var(--highlight_);
}

/* color customization menu */

.colorbtn {
    padding: 12px 20px;
    margin: 8px 0px;
    border-radius: 4px;
    border: 1px solid var(--accent);
    display: inline-block;
    box-sizing: border-box;
    border-color: var(--border-color);
    background-color: var(--accent);
    color: var(--color-a); 
}

.colorbtn:hover{
    background-color: var(--accent-hover);
    /* color: var(--color-a); */
}

.colorbtn:active{
    background-color: var(--accent);
    /* color: var(--color-a); */
}

a .colorpreview {
border-style: solid;
border-width: 1px;
border-color: var(--invert, #000);
background-color: #CCC;
display: inline-block;
height: 10px;
width: 20px;
padding: 2px;
cursor: pointer;
vertical-align: middle;
}

.pickercontainer {
white-space: nowrap;
text-align:left;
vertical-align: middle;
}

.colorparent{
    display: flex;
}

.tablecontainer {
	margin: 1em;
}
