*  {
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	color: #333;
	font-size: 1em;
}
a:link,
a:visited,
a:hover,
a:active {
	color: #000;
	text-decoration: none;
}
.container {
  margin: 50px auto;
  padding: 0 50px;
  max-width: 960px;
}
table { 
	background: #FFF;
	border-collapse: collapse;
	width: 100%;  
	white-space: nowrap; 
}
td ,
th  { 
	padding: 4px; 
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
}

th { 
	border: 1px solid #CCC; 
    border-top: none;
	background-color: #DDD; 
	font-weight: 400;
}

td {
		border: 1px solid #CCC; 
}
