*  {
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	color: #333;
	font-size: 1em;
}
a:link,
a:visited,
a:hover,
a:active {
	color: #000;
	text-decoration: none;
}
.container {
  margin: 50px auto;
  padding: 0 50px;
  max-width: 960px;
}
table { 
	background: #FFF;
	border-collapse: collapse;
	width: 100%;  
	white-space: nowrap; 
}


td ,
th  { 
	padding: 4px; 
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
}

 th { 
	user-select: none;
	border: 1px solid #CCC; 
    border-top: none;
	background-color: #DDD; 
	font-weight: 400;
} 

th:hover {
    background-color: #CCC;
}

.result td {
		border: 1px solid #CCC; 
}

/* CSS for sorting */

table, td, th {
   /*  border: 1px solid black; */
    border-collapse: collapsed;
    /* padding: 2px 5px; */
}
thead th {
    background-repeat: no-repeat;
    background-position: right center;
}
thead th.up {
    padding-right: 20px;
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
thead th.down {
    padding-right: 20px;
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}


/* CSS3 */

/* The whole thing */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
  /*   border-radius: 5px; */
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #CCC;
}
